<div class="post-image">
    <a href="/post/{{item.id}}">
        <img class="post-image" ng-src="{{item.image}}" alt="{{item.title}}" />
        <span class="post-category">{{item.category}}</span>
        <span class="post-month">{{item.createdAt | date: "MMM"}}</span>
        <span class="post-day">{{item.createdAt | date: "dd"}}</span>
    </a>
</div>
<h2 class="post-title">
    <a href="/post/{{item.id}}">{{item.title}}</a>
</h2>
<p class="post-postedby">
    Posted by
    <a href="/users/{{item.user}}">{{item.user}}</a>
</p>
<div class="post-content">
    <p>{{item.content}}</p>
</div>
<div class="dot-pattern"></div>
