<section>
    <a class="comment-avatar" href="/users/{{comment.username}}">
        <img src="{{comment.avatar}}" alt="{{comment.username}} avatar" />
        <span class="comment-month">{{comment.createdAt | date: "MMM"}}</span>
        <span class="comment-day">{{comment.createdAt | date: "dd"}}</span>
    </a>
    <div class="comment-content">
        <a href="/users/{{comment.username}}">{{comment.username}}</a>
        <div>{{comment.content}}</div>
    </div>
</section>
<div ng-show="currentUser">
    <div ng-show="showReplyLink" show-reply>
        <a href="" ng-click="replyTo(comment.id)">Reply</a>
        <div ng-show="comment.showReply" add-comment></div>
    </div>
    <div ng-if="currentUser.role == 'Administrator'"><a href="" ng-click="deleteComment(comment.id)">Delete</a></div>
</div>
<ul>
    <li id="{{comment.id}}" class="comment-level-{{commentLevel}}" ng-repeat="comment in comment.comments" ng-include src="'templates/list-of-comments.html'"></li>
</ul>
