<form id="login-form" role="form">
    <div class="form-group">
        <label for="user-username">Username:</label>
        <input class="form-control" id="user-username" type="text" name="username" placeholder="username" ng-model="user.username" required />
    </div>

    <div class="form-group">
        <label for="user-password">Password:</label>
        <input class="form-control" id="user-password" type="password" name="password" placeholder="password" ng-model="user.password" required />
    </div>

    <div><button class="btn btn-info" href="/" ng-click="login(user)">Login</button></div>
</form>