<div ng-show="isLogged">
    <div id="hello">{{hello}}</div>

    <form role="form" id="profile-form">
        <label ng-repeat="color in colors">
            <input type="radio" ng-change="colorSchemeUpdate()" name="colorScheme" ng-model="$parent.currentUser.colorScheme" value="{{color}}" />{{color}}
        </label>

        <div>
            <div><img width="200" ng-src="{{currentUser.showImage}}" alt="{{currentUser.username}}" /></div>
            <div><input class="select-image" type="file" accept="image/*" ng-model="currentUser.image" file-reader /></div>

            <div><input class="form-control" type="text" disabled name="role" placeholder="Role" ng-model="currentUser.role" /></div>
            <div><input class="form-control" type="text" disabled name="username" placeholder="Username" ng-model="currentUser.username" /></div>
            <div><input class="form-control" type="text" disabled name="email" placeholder="Email" ng-model="currentUser.email" /></div>
            <div><input class="form-control" type="text" name="firstname" placeholder="First Name" ng-model="currentUser.firstName" /></div>
            <div><input class="form-control" type="text" name="lastname" placeholder="Last Name" ng-model="currentUser.lastName" /></div>
            <div><input class="form-control" type="text" name="website" placeholder="Website" ng-model="currentUser.website" /></div>
            <div><input class="form-control" type="text" name="aboutMe" placeholder="About me" ng-model="currentUser.aboutMe" /></div>

            <label>
                <input type="radio" name="userGender" ng-model="currentUser.gender" value="Male" />Male
            </label>
            <label>
                <input type="radio" name="userGender" ng-model="currentUser.gender" value="Female" />Female
            </label>

            <div>
                <button class="btn btn-info" button ng-click="updateProfile(currentUser)">Update profile</button>
                <button class="btn btn-danger" ng-click="deleteProfile()">Delete user</button>
            </div>
        </div>
    </form>
</div>