<div id="bgn-directory">
    <a href="/">Home</a>
    <span class="">»</span>
    <a href="/users">Users</a>
    <span class="">»</span>
    {{user.username}}
</div>

<div id="text-info">
    <div class="text-info">{{user.username}}</div>
    <div>{{user.role}} registered on {{user.createdAt| date: "dd MMM yyyy"}}</div>
    <div><img width="200" src="{{user.image}}" alt="{{user.username}} avatar" /></div>
    <div>E-mail Address: <span>{{user.email}}</span></div>
    <div>First Name: <span>{{user.firstName}}</span></div>
    <div>Last Name: <span>{{user.lastName}}</span></div>
    <div>Website: <span>{{user.website}}</span></div>
    <div>Gender: <span>{{user.gender}}</span></div>
    <div>About Me: <span>{{user.aboutMe}}</span></div>
</div>
