<div id="directory">
    <a href="/">Home</a>
    <span class="">»</span>
    <a href="/users">Users</a>
    <span class="">»</span>
    {{user.username}}
</div>

<div>{{user.username}}</div>
<div>{{user.createdAt}}</div>
<div><img width="300" src="{{user.image}}" alt="{{user.username}} avatar" /></div>
<div>{{user.email}}</div>
<div>{{user.firstName}}</div>
<div>{{user.lastName}}</div>
<div>{{user.website}}</div>
<div>{{user.gender}}</div>
<div>{{user.aboutMe}}</div>
<div>{{user.colorScheme}}</div>
<div>{{user.role}}</div>
