$droidSansFont: 'DroidSans';
$leagueGothicFont: 'LeagueGothic';
$yanoneKaffeesatzFont: 'YanoneKaffeesatz';

$fonts: ( 
    $droidSansFont: '../fonts/droidsans-webfont',
    $leagueGothicFont: '../fonts/leaguegothic-webfont', 
    $yanoneKaffeesatzFont: '../fonts/yanonekaffeesatz-webfont' 
);

$cs-arrows: (
    'black': ('left', 'right'),
    'white': ('left', 'right')
);

$cs-dropdown : (
    'black': #222222,
    'brown': #483228,
    'gray': #b7b7b7,
    'red': #601a11,
    'turquoise': #115d60
);

$cs-html: ( 
    'black': (#323232,#1d1d1d),
    'brown': (#52392d,#392820), 
    'gray': (#d9d9d9,#d5d5d5), 
    'red': (#6e1d12,#4b150e), 
    'turquoise': (#126a6e,#0e494b)
);

$cs-footer: ( 
    'black': (#2c2c2c,#191919),
    'brown': (#483227,#34241d), 
    'gray': (#b8b8b8,#a9a9a9), 
    'red': (#60190f,#4a150c), 
    'turquoise': (#0f5d60,#0d494b)
);

$cs-search: ( 
    'black': (#1e1d1e,#282828),
    'brown': (#3c2820,#4c372c), 
    'gray': (#cacaca,#e1e1e1), 
    'red': (#54140c,#641d14), 
    'turquoise': (#1d4242,#314a47)
);
