<!DOCTYPE html>
<html class="{{csHtml}}" ng-app="newsApp" ng-cloak>
<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The BG News | {{title}}</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/bootstrap-3.3.1.min.css" />
    <link rel="stylesheet" href="css/app.min.css" />
</head>
<body ng-controller="PageController">
    <div id="wrap">
        <header id="header">
            <a id="logo" href="/" ng-click="reloadTo('/')">
                <img src="images/logo.png" alt="Bg News" />
            </a>
            <section>
                <nav id="navigation" class="navbar-collapse collapse">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="/">Home</a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                    Business<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/category/finance">Finance</a></li>
                                    <li><a href="/category/energy">Energy</a></li>
                                    <li><a href="/category/industry">Industry</a></li>
                                    <li><a href="/category/properties">Properties</a></li>
                                    <li><a href="/category/tourism">Tourism</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="/category/politics">
                                    Politics<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/category/diplomacy">Diplomacy</a></li>
                                    <li><a href="/category/defense">Defense</a></li>
                                    <li><a href="/category/bulgaria_in_eu">Bulgaria in EU</a></li>
                                    <li><a href="/category/domestic">Domestic</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="/category/world">
                                    World<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/category/eu">EU</a></li>
                                    <li><a href="/category/southeast_europe">Southeast Europe</a></li>
                                    <li><a href="/category/russia">Russia</a></li>
                                    <li><a href="/category/ukraine">Ukraine</a></li>
                                    <li><a href="/category/international_business">International Business</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="/category/society">
                                    Society<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/category/environment">Environment</a></li>
                                    <li><a href="/category/education">Education</a></li>
                                    <li><a href="/category/culture">Culture</a></li>
                                    <li><a href="/category/health">Health</a></li>
                                    <li><a href="/category/incidents">Incidents</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/category/sports">Sports</a>
                            </li>
                            <li>
                                <a href="/category/crime">Crime</a>
                            </li>
                        </ul>

                    </div>

                </nav>
                <form id="search">
                    <input id="searchinput" type="text" name="Search" ng-model="searchedWord" placeholder="Search this website..." />
                    <input id="searchsubmit" type="image" src="/images/search.png" ng-click="reloadTo('/search/' + searchedWord)" />
                </form>
            </section>
        </header>
        <div id="container" ng-view></div>
        <footer id="footer">
            <div class="footer-content" id="recent-posts">
                <ul>
                    <li>content1</li>
                    <li>content1</li>
                    <li>content1</li>
                    <li>content1</li>
                    <li>content1</li>
                    <li>content1</li>
                    <li>content1</li>
                </ul>
            </div>
            <div class="footer-content" id="recent-comments">
                <ul>
                    <li>content2</li>
                    <li>content2</li>
                    <li>content2</li>
                    <li>content2</li>
                    <li>content2</li>
                    <li>content2</li>
                    <li>content2</li>
                </ul>
            </div>
            <div class="footer-content" id="archives">
                <ul>
                    <li>content3</li>
                    <li>content3</li>
                    <li>content3</li>
                    <li>content3</li>
                    <li>content3</li>
                    <li>content3</li>
                    <li>content3</li>
                </ul>
            </div>
            <div class="footer-content" id="meta">
                <ul>
                    <li>META</li>
                    <li><a href="/users">Users</a></li>
                    <li ng-show="!currentUser"><a href="/signup">Sign up</a></li>
                    <li ng-show="!currentUser"><a href="/login">Log in</a></li>
                    <li ng-show="currentUser"><a href="/profile">Profile</a></li>
                    <li ng-if="currentUser.role == 'Administrator'"><a href="/new-post">Add post</a></li>
                    <li ng-show="currentUser"><a href="/" ng-click="logout()">Log out</a></li>
                    <li><a href="/help">Help</a></li>
                </ul>
            </div>
            <p id="copyright">
                Designed by  <a title="Elegant Themes" href="http://www.elegantthemes.com">Elegant Themes</a> | Powered by  <a href="http://www.wordpress.org">Wordpress</a>
            </p>
        </footer>
    </div>

    <script src="lib/jquery/jquery-2.1.0.min.js"></script>
    <script src="http://www.parsecdn.com/js/parse-1.6.14.min.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/angular-route.js"></script>
    <script src="lib/angular/angular-animate.js"></script>
    <script src="lib/bootstrap/bootstrap-3.1.1.min.js"></script>
    <script src="lib/bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>

    <!--<script src="js/all.min.js"></script>-->
    <script src="js/app.js"></script>
    <script src="js/controllers/PageController.js"></script>
    <script src="js/controllers/AddPostController.js"></script>
    <script src="js/controllers/UserController.js"></script>
    <script src="js/controllers/UsersController.js"></script>
    <script src="js/controllers/PostController.js"></script>
    <script src="js/controllers/PostsController.js"></script>
    <script src="js/controllers/ProfileController.js"></script>
    <script src="js/controllers/SearchController.js"></script>
    <script src="js/controllers/TagsController.js"></script>
    <script src="js/services/postData.js"></script>
    <script src="js/services/userData.js"></script>
    <script src="js/directives/postThumbnail.js"></script>
    <script src="js/directives/userThumbnail.js"></script>
    <script src="js/directives/addComment.js"></script>
    <script src="js/directives/links/fileReader.js"></script>
    <script src="js/directives/links/showReply.js"></script>
</body>
</html>