<!DOCTYPE html>
<html class="{{csHtml}}" ng-app="newsApp" ng-cloak>
<head>
    <base href="/" />
    <title>The BG News | {{title}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" lang="en-US" content="The latest news and information on the top stories, business, politics, world, society, sports, crime and more." />
    <meta name="keywords" lang="en-US" content="news, bulgaria news, news online, daily news, current events, top headlines, breaking news, news photos" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/bootstrap-3.3.1.min.css" />
    <link rel="stylesheet" href="css/app.min.css" />
</head>
<body ng-controller="PageController">
    <div id="bgn-wrap">
        <header id="bgn-header">
            <a href="/" ng-click="reloadTo('/')">
                <img src="images/logo.png" alt="Website's Logo" />
            </a>
            <div>
                <nav id="bgn-navigation">
                    <ul class="navbar-nav">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="dropdown {{csDropdown}}">
                            <a href="/category/business">Business<span class="bullet">»</span></a>
                            <ul class="dropdown-menu {{csDropdown}}">
                                <li ng-repeat="category in categories.Business">
                                    <a class="{{csDropdown}}" href="/category/{{categoryToLink(category)}}">{{category}}</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown {{csDropdown}}">
                            <a href="/category/politics">Politics<span class="bullet">»</span></a>
                            <ul class="dropdown-menu {{csDropdown}}">
                                <li ng-repeat="category in categories.Politics">
                                    <a class="{{csDropdown}}" href="/category/{{categoryToLink(category)}}">{{category}}</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown {{csDropdown}}">
                            <a href="/category/world">World<span class="bullet">»</span></a>
                            <ul class="dropdown-menu {{csDropdown}}">
                                <li ng-repeat="category in categories.World">
                                    <a class="{{csDropdown}}" href="/category/{{categoryToLink(category)}}">{{category}}</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown {{csDropdown}}">
                            <a href="/category/society">Society<span class="bullet">»</span></a>
                            <ul class="dropdown-menu {{csDropdown}}">
                                <li ng-repeat="category in categories.Society">
                                    <a class="{{csDropdown}}" href="/category/{{categoryToLink(category)}}">{{category}}</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/category/sports">Sports</a>
                        </li>
                        <li>
                            <a href="/category/crime">Crime</a>
                        </li>
                    </ul>
                </nav>
                <div id="bgn-search">
                    <form class="{{csSearch}}">
                        <input type="text" name="Search" ng-model="searchedWord" placeholder="Search this website..." />
                        <input type="image" src="/images/search.png" ng-click="reloadTo('/search/' + searchedWord)" />
                    </form>
                </div>
            </div>
        </header>
        <div id="bgn-container" ng-view></div>
        <footer id="bgn-footer" class="{{csFooter}}">
            <div>
                <div class="footer-content">
                    <h3>Recent Posts</h3>
                    <ul>
                        <li ng-repeat="recentPost in recentPosts">
                            <a title="{{recentPost.title}}" href="/post/{{recentPost.id}}">
                                {{recentPost.shortTitle}}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-content">
                    <h3>Recent Comments</h3>
                    <ul>
                        <li ng-repeat="recentComment in recentComments">
                            <a title="{{recentComment.content}}" href="/post/{{recentComment.postId}}#{{recentComment.id}}">
                                {{recentComment.shortContent}}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-content">
                    <h3>Popular Posts</h3>
                    <ul>
                        <li ng-repeat="popularPost in popularPosts">
                            <a title="{{popularPost.title}}" href="/post/{{popularPost.id}}">
                                {{popularPost.shortTitle}}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-content">
                    <h3>Meta</h3>
                    <ul>
                        <li><a href="/users">Users</a></li>
                        <li ng-show="!currentUser"><a href="/login">Log in</a></li>
                        <li ng-show="!currentUser"><a href="/signup">Sign up</a></li>
                        <li ng-show="currentUser"><a href="/profile">Profile</a></li>
                        <li ng-if="currentUser.role == 'Administrator'"><a href="/new-post">Add post</a></li>
                        <li ng-show="currentUser"><a href="/" ng-click="logout()">Log out</a></li>
                        <li><a href="/help">Help</a></li>
                    </ul>
                </div>
            </div>
            <p>
                Designed by <a title="Elegant Themes" href="http://www.elegantthemes.com">Elegant Themes</a> | Powered by <a href="http://www.wordpress.org">Wordpress</a>
            </p>
        </footer>
    </div>

    <script src="lib/jquery/jquery-2.1.0.min.js"></script>
    <script src="http://www.parsecdn.com/js/parse-1.6.14.min.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/angular-route.js"></script>
    <script src="lib/angular/angular-animate.js"></script>
    <script src="lib/bootstrap/bootstrap-3.1.1.min.js"></script>
    <script src="lib/bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>

    <!--<script src="js/all.min.js"></script>-->
    <script src="js/app.js"></script>
    <script src="js/controllers/PageController.js"></script>
    <script src="js/controllers/AddPostController.js"></script>
    <script src="js/controllers/UserController.js"></script>
    <script src="js/controllers/UsersController.js"></script>
    <script src="js/controllers/PostController.js"></script>
    <script src="js/controllers/PostsController.js"></script>
    <script src="js/controllers/ProfileController.js"></script>
    <script src="js/controllers/SearchController.js"></script>
    <script src="js/controllers/TagsController.js"></script>
    <script src="js/services/postData.js"></script>
    <script src="js/services/userData.js"></script>
    <script src="js/directives/postThumbnail.js"></script>
    <script src="js/directives/userThumbnail.js"></script>
    <script src="js/directives/addComment.js"></script>
    <script src="js/directives/links/fileReader.js"></script>
    <script src="js/directives/links/showReply.js"></script>
</body>
</html>